html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.screen {
    width: 100%;
    height: 100%;
}

.image {
    max-width: 100%;
    margin: 5px 10px 5px 0px;
}

.background {
    background-image: url('http://placehold.it/500?text=Background');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
}

.home {
    width: 100%;
    height: 70%;
    background-image: url('../images/Yeditor.png');
    background-size: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 9vw;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}

.sub-title {
    font-size: 2vw;
    margin-top: -1.3vw;
}

.btn {
    font-size: 1vw;
    text-align: center;
    color: black;
    display: inline-block;
    margin: 3.3vw 2vw 0;
}

.btn span {
    font-size: 80%;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    text-decoration: none;
    outline: none;
}

.btn:hover {
    text-decoration: none;
}

.btn i {
    display: block;
    font-size: 7vw;
}

.demo {
    border: 1px solid black;
}

[contenteditable=true]:focus, [contenteditable=true]:hover {
    background: white;
}