/* editable dom element */

[contenteditable="true"] {
    outline: none;
    display: block;
    box-sizing: border-box;
    transition: background 250ms linear;
}


/* FOCUS, HOVER */

[contenteditable="true"]:focus,
[contenteditable="true"]:hover {
    background: #efefef;
}


/* editable element > img */

[contenteditable="true"] img {
    cursor: pointer;
}


/* editable element > img:FOCUS */

[contenteditable="true"] img:active {
    opacity: 0.5;
}


/**
* main nav open
*/

#frontendEditor-nav {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px 0px black;
    font-size: 18px;
    font-family: Verdana;
    text-align: center;
    z-index: 999999;
}

#frontendEditor-nav #openBTN {
    display: none;
}


/**
* main nav close
*/

#frontendEditor-nav.close {
    width: 0px;
    height: 0px;
    border: 0;
    border-radius: 100%;
    opacity: 1;
}

#frontendEditor-nav.close .frontendEditor-nav-btn,
#frontendEditor-nav.close .frontendEditor-nav-btn-separation {
    display: none;
}

#frontendEditor-nav.close #openBTN {
    display: block;
    position: fixed;
    top: 2%;
    left: 2%;
    border-radius: 100%;
    font-size: 45px;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 100%;
}


/**
* main nav button
*/

.frontendEditor-nav-btn-separation {
    display: inline-block;
}

.frontendEditor-nav-btn-area {
    display: inline-block;
    position: relative;
}

.frontendEditor-nav-btn-description {
    display: none;
    font-size: 60%;
    position: absolute;
    top: 100%;
    background: black;
    color: white;
    min-width: calc(100% - 5px);
    padding: 2px 4px;
    box-sizing: border-box;
    left: 2.5px;
    white-space: nowrap;
}

.frontendEditor-nav-btn-area:hover>.frontendEditor-nav-btn-description {
    display: block;
}

.frontendEditor-nav-btn {
    border: 0;
    background: white;
    color: black;
    padding: 10px 8px;
    margin: 0 2.5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    min-width: 40px;
}

.frontendEditor-nav-btn.left {
    float: left;
}

.frontendEditor-nav-btn.right {
    float: right;
}

.frontendEditor-nav-btn:hover,
.frontendEditor-nav-btn:focus {
    background: #efefef;
    outline: none;
}


/**
* .CodeMirror
*/

.CodeMirror {
    position: fixed;
    box-shadow: 0px 0px 5px 0px black;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: opacity 250ms linear, height 250ms linear;
}

.CodeMirror.active {
    height: 250px;
    opacity: 1;
}


/**
* edit image navigation
*/

#frontendEditor-edit-image-nav,
#frontendEditor-edit-background-nav {
    position: absolute;
    display: none;
}

#frontendEditor-edit-image-nav.active,
#frontendEditor-edit-background-nav.active {
    display: block;
}